<link id="theme-style" rel="stylesheet" href="assets/css/styles.css">


<div class="wrapper">

    <div class="sidebar-wrapper">
        <div class="profile-container">
            <img class="profile img-circle" src="assets/img/profile.png" alt="" />
            <h1 class="name">Huynh Huu Trong</h1>
            <h3 class="tagline">Web Developer, Telecom Engineer</h3>
        </div>
        <!--//profile-container-->

        <div class="contact-container container-block">
            <ul class="list-unstyled contact-list">
                <li class="email"><i class="fa fa-envelope"></i><a href="mailto: yourname@email.com">hht2309@gmail.com</a></li>
                <li class="phone"><i class="fa fa-phone"></i><a href="tel:0123 456 789">+33 7 68 89 61 18</a></li>
                <li class="website"><i class="fa fa-globe"></i><a href="http://www.takeacoffee.fr" target="_blank">www.takeacoffee.fr</a></li>
                <li class="linkedin"><i class="fa fa-linkedin"></i><a href="https://www.linkedin.com/in/huu-trong-huynh-b50114136/" target="_blank">linkedin.com</a></li>
                <li class="github"><i class="fa fa-github"></i><a href="http://www.github.com/hht2309" target="_blank">github.com/hht2309</a></li>
            </ul>
        </div>
        <!--//contact-container-->
        <div class="education-container container-block">
            <h2 class="container-block-title">Education</h2>
            <div class="item">
                <h4 class="degree">MSc in Images and Network Engineering</h4>
                <h5 class="meta"><a href="https://www.univ-paris13.fr/" target="_blank">University of Paris 13</a></h5>
                <div class="time">2016-2017</div>
            </div>
            <!--//item-->
            <div class="item">
                <h4 class="degree">BSc in Telecommunication</h4>
                <h5 class="meta"><a href="http://www.hcmut.edu.vn/en" target="blank">HCM City University of Technology</a></h5>
                <div class="time">2011-2016</div>
            </div>
            <!--//item-->
        </div>
        <!--//education-container-->

        <div class="languages-container container-block">
            <h2 class="container-block-title">Languages</h2>
            <ul class="list-unstyled interests-list">
                <li>English <span class="lang-desc">(Proficient TOEIC 860)</span></li>
                <li>French <span class="lang-desc">(Proficient)</span></li>
                <li>Vietnamese <span class="lang-desc">(Native)</span></li>
            </ul>
        </div>
        <!--//interests-->

        <div class="interests-container container-block">
            <h2 class="container-block-title">Interests</h2>
            <ul class="list-unstyled interests-list">
                <li>Speedcubing</li>
                <li>Gaming</li>
                <li>Cooking</li>
                <li>Reading</li>
                <li>Traveling</li>
            </ul>
        </div>
        <!--//interests-->

    </div>
    <!--//sidebar-wrapper-->

    <div class="main-wrapper">

        <section class="section summary-section">
            <h2 class="section-title"><i class="fa fa-user"></i>Personal Profile</h2>
            <div class="summary">
                <p>Hello, welcome to my personal website. My name is Trong, I'm a fresh graduate student with a bachelor's degree in Telecommunication. I'm passionate about web technology, networking and image processing. I have an open mind with strong
                    technical skills to problem-solving, I love to be challenged in order to grow and improve my personal and professional skills. To this end, I'm seeking now a position as a web developer or image processing engineer.</p>
            </div>
        </section>

        <section class="section experiences-section">
            <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

            <div class="item">
                <div class="meta">
                    <div class="upper-row">
                        <h3 class="job-title">Internship: Web Developer in X3DPhoto Application</h3>
                        <div class="time">March - August 2017</div>
                    </div>
                    <!--//upper-row-->
                    <div class="company"><a href="http://www.3ds.com" target="_blank">Dassault Systèmes</a>, Paris</div>
                </div>
                <!--//meta-->
                <div class="details">
                    <p>X3DPhoto is a web application developed by X3DPhoto team in CATIA Web Application department. This application allows the users to perform the 3D modeling process, such as 3D reconstruction from multiple image, directly on browser.
                    </p>
                    <p>During the internship, my main mission is to implement the application tool for painting/texturing 3D object. In this context, my work goes with specifying the tool components, creating the user interface and testing the functionality
                        of the tool in the application. </p>
                    <p> <strong>Technos</strong>: UWA (Netvibes), ThreeJS, WebGL, Karma-Jasmine, etc.,</p>
                </div>
                <!--//details-->
            </div>
            <!--//item-->

            <div class="item">
                <div class="meta">
                    <div class="upper-row">
                        <h3 class="job-title">Internship</h3>
                        <div class="time">February - August 2016</div>
                    </div>
                    <!--//upper-row-->
                    <div class="company">
                        <a target="_blank" href="http://www-l2ti.univ-paris13.fr/site/index.php/en/">Laboratoire de Traitement et Transport de l'Information</a>, Universite of Paris 13</div>
                </div>
                <!--//meta-->
                <div class="details">
                    <p>This is the internship at the end of my BSc program. It is in the image processing field and the topic is Image denoising using the theory of Sparse Learning Dictionary. My work goes with studying some state of the art method in Learning
                        Dictionary, e.g., K-SVD, MOD, ..., developing an algorithm based on these methods and testing the performance of this algorithm.</p>
                    <p> <strong> Environment</strong>: Matlab, C/C++ </p>
                </div>
                <!--//details-->
            </div>
            <!--//item-->

        </section>
        <!--//section-->

        <section class="section projects-section">
            <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
            <div class="intro">
                <p>Below is list of some projects implemented during my study or in my free time: </p>
            </div>
            <!--//intro-->
            <div class="item">
                <span class="project-title"><a href="http://takeacoffee.fr" target="_blank">takeacoffee.fr</a></span> - <span class="project-tagline">Personal website where I put my Curriculum Vitae. Apart from my CV, I've also implemented a Spotify service from that you can search music by artist or track, listen to the preview or explore them by going to <a href="http://www.spotify.com" target="_blank">Spotify</a> website. </span>
                <span class="project-tagline">The project using Nodejs, Angular2 and hosted on Google-Cloud-Platform. Souce code can be found on <a href="https://github.com/hht2309/takeacoffee" target="_blank">GitHub</a> </span>.
            </div>
            <!--//item-->
            <div class="item">
                <span class="project-title"><a target="_blank" href="https://intense-waters-48093.herokuapp.com">Local-Library</a></span> - <span class="project-tagline">The objective of this project is to build a web application which provides the functionality for management of a local library, e.g., show what books are available, allow new books to be created, update the status of the copies (available, maintenance), etc... The project using Nodejs, MongoDB, Pugjs and hosted by <a href="http://www.heroku.com" target="_blank">Heroku</a> PaaS. Source code can be found on <a href="https://github.com/hht2309/express-local-library" target="_blank">GitHub</a></span>.
            </div>
            <!--//item-->
            <div class="item">
                <span class="project-title"><a target="_blank" href="https://hht2309.github.io/tpaw2017/tp7/">Méteo Application</a></span> - <span class="project-tagline">This project using the API provided by <a target="_blank" href="https://openweathermap.org/">openweathermap.com</a> to look for weather information of given location and display them by using HTML and CSS. Source code can be found <a target="_blank" href="https://github.com/hht2309/tpaw2017/tree/master/tp7">GitHub</a></span>.
            </div>

        </section>
        <!--//section-->


        <section class="skills-section section">
            <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>
            <div class="skillset">
                <div class="item">
                    <h3 class="level-title">C &amp; C++</h3>
                    <div class="progress">
                        <div class="progress-bar" style="width: 60%;"></div>
                    </div>
                    <!--//level-bar-->
                </div>
                <!--//item-->

                <div class="item">
                    <h3 class="level-title">Java</h3>
                    <div class="progress">
                        <div class="progress-bar" style="width: 90%;"></div>
                    </div>
                    <!--//level-bar-->
                </div>
                <!--//item-->


                <div class="item">
                    <h3 class="level-title">HTML5 &amp; CSS &amp; Bootstrap</h3>
                    <div class="progress">
                        <div class="progress-bar" style="width: 90%;"></div>
                    </div>
                    <!--//level-bar-->
                </div>
                <!--//item-->

                <div class="item">
                    <h3 class="level-title">Javascript &amp; jQuery</h3>
                    <div class="progress">
                        <div class="progress-bar" style="width: 90%;"></div>
                    </div>
                    <!--//level-bar-->
                </div>
                <!--//item-->

                <div class="item">
                    <h3 class="level-title">ThreeJS &amp; WebGL</h3>
                    <div class="progress">
                        <div class="progress-bar" style="width: 90%;"></div>
                    </div>
                    <!--//level-bar-->
                </div>
                <!--//item-->

                <div class="item">
                    <h3 class="level-title">MEAN stack</h3>
                    <div class="progress">
                        <div class="progress-bar" style="width: 90%;"></div>
                    </div>
                    <!--//level-bar-->
                </div>
                <!--//item-->

                <div class="item">
                    <h3 class="level-title">Karma-Jasmine</h3>
                    <div class="progress">
                        <div class="progress-bar" style="width: 90%;"></div>
                    </div>
                    <!--//level-bar-->
                </div>
                <!--//item-->



            </div>
        </section>
        <!--//skills-section-->

    </div>
    <!--//main-body-->
</div>

<footer class="footer">
    <div class="text-center">
        <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can check out other license options via our website: themes.3rdwavemedia.com */-->
        <small class="copyright">Template designed by <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>
    </div>
    <!--//container-->
</footer>