<div id="album" *ngIf="album">
    <header class="album-header">

        <div class="row row-eq-height">
            <div class="col-sm-offset-1 col-sm-2 thumb-container">
                <div class="thumb-container-element" *ngIf="album.images.length>0">
                    <img class="album-thumb img-circle" src="{{album.images[0].url}}" />
                </div>

            </div>
            <div class="col-sm-8">
                <h4 *ngIf="album.artists.length>0">
                    <span *ngFor="let artist of album.artists">
                            {{artist.name}}
                    </span>
                </h4>
                <h2>{{album.name}}</h2>
                <h5> Release Date: {{album.release_date}}</h5>
                <a class="btn btn-primary" target="_blank" href="{{album.external_urls.spotify}}">View in Spotify </a>
            </div>
        </div>
    </header>

    <div class="album-tracks">
        <h2> Album Tracks </h2>
        <div *ngFor="let track of album.tracks.items">
            <div class="well">
                <h5> {{track.track_number}} - {{track.name}} </h5>
                <a [ngStyle]="track.preview_url?{'pointer-events': 'auto'}:{'pointer-events': 'none', 'color': '#117ec6'}" href="{{track.preview_url}}" target="_blank">Preview Track {{track.preview_url?'':'(n/a)'}}</a>
                <a style="padding-left: 20px" href="{{track.external_urls.spotify}}" target="_blank">Listen on Spotify</a>
            </div>
        </div>
    </div>

</div>